<div class="small_track row mx-0 my-3 px-4 py-2 text-gray-600 align-items-center"
  value="<%= track.id %>">
  <div class="col-md-8 d-flex px-0">
    <%= fa_icon "play" %>
    <h6 id="title" class="no_margin ml-4 mr-5"><%= link_to track.title, track,
      class: "text-gray-600" %></h6>
  </div>

  <small id="artist" class="col-md-4 px-0">
    <%= link_to track.artist_name, track.artist, class: "text-gray-600" %>
  </small>
  <span id="year" class="d-none"><%= track.year %></span>
  <div id="cover">
    <%= link_to track do %>
      <%= rescue_image track.cover, "d-none" %>
    <% end %>
  </div>
  <%= rescue_audio track.data, "d-none" %>
</div>
