<% provide :title, @track.title %>

<div class="container"><br>
  <div class="row mx-0">
    <div class="col-md-3 px-0">
      <%= rescue_image @track.cover, "img-fluid" %>
    </div>

    <div class="col-md-9 px-0 album_info">
      <div class="row mx-0 px-4 pt-3 text-white">
        <small><%= @track.year %></small>
      </div>
      <div class="row mx-0 px-4 text-white">
        <h4><%= @track.title %></h4>
      </div>
      <div class="row mx-0 px-4 pb-2">
        <h6><%= link_to @track.artist_name, @track.artist,
          class: "text-white" %></h6>
      </div>
      <div class="row mx-0 px-4 text-gray-600">
        <h6>
          <%= t ".album" %>
          <%= link_to @track.album_name, @track.album, class: "text-gray-600" %>
        </h6>
      </div>
      <div class="row mx-0 px-4 text-gray-600">
        <h6><%== t ".categories", categories: join_categories_with_link(@track
          .album.categories, "text-gray-600") %></h6>
      </div>
    </div>
  </div>

  <div class="audio_player offset-md-3">
    <%= rescue_audio @track.data, "w-full d-block" %>
  </div>
</div>
