<h3 class="my-4"><%= t ".tracks" %></h3>

<div class="row">
  <div class="col-lg-4 mb-4">
    <div class="card h-100">
      <h4 class="card-header"><%= t ".hot" %></h4>
      <div class="card-body">
        <%= render support.find_hot(Track.name).take Settings.track.featured_list %>
      </div>
    </div>
  </div>

  <div class="col-lg-4 mb-4">
    <div class="card h-100">
      <h4 class="card-header"><%= t ".top" %></h4>
      <div class="card-body">
        <%= render support.find_top Track.name, Settings.track.featured_list %>
      </div>
    </div>
  </div>

  <div class="col-lg-4 mb-4">
    <div class="card h-100">
      <h4 class="card-header"><%= t ".latest" %></h4>
      <div class="card-body">
        <%= render support.find_latest Track.name, Settings.track.featured_list %>
      </div>
    </div>
  </div>
</div>
