<section>
  <div id="hot" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <% hot_albums_tracks.each_with_index do |hot, idx| %>
        <li data-target="#hot" data-slide-to="<%= idx %>"
          class="<%= idx.zero? ? "active" : "" %>"></li>
      <% end %>
    </ol>

    <div class="carousel-inner" role="listbox">
      <% hot_albums_tracks.each_with_index do |hot, idx| %>
        <div class="carousel-item hot_carousel <%= idx.zero? ? "active" : "" %>"
          style="background-image: url(<%= url_for hot.cover %>)">
          <%= link_to hot, class: "stretched-link" do %>
            <div class="carousel-caption d-none d-md-block">
              <h3>
                <% if hot.is_a? Album %>
                  <%= hot.name %>
                <% elsif hot.is_a? Track %>
                  <%= hot.title %>
                <% end %> - <%= hot.artist_name %>
              </h3>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>

    <a class="carousel-control-prev" href="#hot"
      role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only"></span>
    </a>

    <a class="carousel-control-next" href="#hot"
      role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only"></span>
    </a>
  </div>
</section>
