<% provide :title, t(".home") %>

<%= render "featured_slides", hot_albums_tracks: @support.find_hot(Album.name,
  Track.name) %>

<div class="container">
  <%= render "featured_tracks" %>

  <h3 class="my-4"><%= t ".latest_albums" %></h3>
  <div class="row">
    <%= render @support.class_method_helper Album.name, :latest_with_limit,
      Settings.album.featured_list %>
  </div>

  <h3 class="my-4"><%= t ".categories" %></h3>
  <div class="row">
    <%= render @support.class_method_helper Category.name, :take,
      Settings.category.featured_list %>
  </div>

  <h3 class="my-4"><%= t ".artists" %></h3>
  <div class="row">
    <%= render @support.class_method_helper Artist.name, :take,
      Settings.artist.featured_list %>
  </div>
</div>
