<div id="comment_data_<%= comment.id %>" class="ml-3">
  <div class="d-flex">
    <h5><b><%= comment.user_name %></b></h5>
    <div class="ml-3 text-gray-600">
      <%= comment.created_at.strftime Settings.comment.datetime_format %>
    </div>

    <% if can_manage_comment comment %>
      <%= link_to t(".edit"), edit_comment_path(comment), remote: true,
        class: "btn btn-secondary ml-3" %>
      <%= link_to t(".delete"), comment_path(comment), remote: true,
        method: :delete, data: {confirm: t("admin.action.confirm")},
        class: "btn btn-danger ml-3" %>
    <% end %>
  </div>

  <div><%= comment.content %></div>
</div>
