<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion"
  id="accordionSidebar">

  <%= link_to admin_root_path, class: "sidebar-brand d-flex align-items-center
    justify-content-center" do %>
    <div class="sidebar-brand-icon"><%= fa_icon "play" %></div>
    <div class="sidebar-brand-text mx-3">
      <%= Settings.application.admin_title %>
    </div>
  <% end %>

  <hr class="sidebar-divider my-0">

  <li class="nav-item">
    <%= link_to root_path, class: "nav-link" do %>
      <%= fa_icon "home" %>
      <span><%= t ".home_page" %></span>
    <% end %>
  </li>

  <li class="nav-item">
    <%= link_to admin_root_path, class: "nav-link" do %>
      <%= fa_icon "tachometer" %>
      <span><%= t ".dashboard" %></span>
    <% end %>
  </li>

  <hr class="sidebar-divider my-0">

  <li class="nav-item">
    <%= link_to "#", class: "nav-link" do %>
      <%= fa_icon "music" %>
      <span><%= t ".albums" %></span>
    <% end %>
  </li>

  <li class="nav-item">
    <%= link_to "#", class: "nav-link" do %>
      <%= fa_icon "microphone" %>
      <span><%= t ".artists" %></span>
    <% end %>
  </li>

  <li class="nav-item">
    <%= link_to admin_categories_path, class: "nav-link" do %>
      <%= fa_icon "folder-open" %>
      <span><%= t ".categories" %></span>
    <% end %>
  </li>

  <li class="nav-item">
    <%= link_to "#", class: "nav-link" do %>
      <%= fa_icon "file-text" %>
      <span><%= t ".lyrics" %></span>
    <% end %>
  </li>

  <li class="nav-item">
    <%= link_to "#", class: "nav-link" do %>
      <%= fa_icon "forward" %>
      <span><%= t ".tracks" %></span>
    <% end %>
  </li>

  <li class="nav-item">
    <%= link_to "#", class: "nav-link" do %>
      <%= fa_icon "users" %>
      <span><%= t ".users" %></span>
    <% end %>
  </li>

  <hr class="sidebar-divider d-none d-md-block">

  <div class="text-center d-none d-md-inline">
    <button class="rounded-circle border-0" id="sidebarToggle">
      <%= fa_icon "chevron-left" %>
    </button>
  </div>
</ul>
