<% provide :title, t(".change_your_password") %>

<div class="container">
  <div class="rescue_container">
    <h2 class="col-md-8 offset-md-4"><%= t ".change_your_password" %></h2>

    <%= form_for resource, as: resource_name, url: password_path(resource_name),
      html: {method: :put}, class: "form-group" do |f| %>
      <div class="field form-group col-md-6 offset-md-3">
        <%= render "devise/shared/error_messages", resource: resource %>
      </div>
      <%= f.hidden_field :reset_password_token %>

      <div class="field form-group col-md-4 offset-md-4">
        <%= f.label :password, t(".new_password") %>
        <% if @minimum_password_length %>
          <em><%= t "devise.shared.minimum_password_length",
            count: @minimum_password_length %></em>
        <% end %><br />
        <%= f.password_field :password, autofocus: true, autocomplete: "off",
          class: "form-control" %>
      </div>

      <div class="field form-group col-md-4 offset-md-4">
        <%= f.label :password_confirmation, t(".confirm_new_password") %><br />
        <%= f.password_field :password_confirmation, autocomplete: "off",
          class: "form-control" %>
      </div>

      <div class="field form-group col-md-8 offset-md-4">
        <%= link_to t("devise.shared.links.didn_t_receive_confirmation_instructions"),
          new_confirmation_path(resource_name) %><br /><br />
        <%= f.submit t(".change_my_password"), class: "btn btn-primary" %>
      </div>
    <% end %>
  </div>
</div>
