<% provide :title, @support.album.name %>

<div class="container"><br>
  <div class="row mx-0">
    <div class="col-md-6 px-0">
      <%= rescue_image @support.album.cover, "img-fluid" %>
    </div>

    <div class="album_info col-md-6 px-0">
      <div class="row mx-0 pt-4">
        <div class="col-md-5 album_name_artist pl-4 pr-0">
          <h4><%= @support.album.name %></h4>
          <h5><%= link_to @support.album.artist_name, @support.album.artist,
            class: "text-white" %></h5>
        </div>

        <div class="col-md-4 text-gray-600 px-2">
          <h6><%== t ".categories", categories: join_categories_with_link(@support
            .album.categories, "text-gray-600") %></h6>
          <h6><%= t ".release", year: @support.album.year %></h6>
        </div>

        <div class="col-md-3 px-0">
          <%= rating_for @support.album, Settings.album.rateable,
            disable_after_rate: false, cancel_place: "right" %>
          <div class="text-white-50">
            <%= fa_icon "play" %>
            <%= number_with_delimiter @support.album.play_count %>
          </div>
          <div class="text-white-50">
            <%= fa_icon "eye" %>
            <%= number_with_delimiter @support.album.views_count %>
          </div>

          <div id="favourability">
            <% if favourited? @support.album %>
              <%= render "favourites/remove_favourite" %>
            <% else %>
              <%= render "favourites/add_favourite" %>
            <% end %>
          </div>

          <%= hidden_field_tag :favourable_id, @support.album.id %>
          <%= hidden_field_tag :favourable_type, @support.album.class.name %>
        </div>
      </div>

      <%= render partial: "tracks/small_track", collection: @support.album_tracks,
        as: :track %>
    </div>
  </div>

  <div class="small_track_info offset-6 px-4 text-gray-600 mt-4" id="now_playing">
    <div id="cover" class="album_thumbnail w_m_67">
      <%= link_to @support.album_tracks.first do %>
        <%= rescue_image @support.album_tracks.first.cover %>
      <% end %>
    </div>
    <div class="track_metadata">
      <small id="year" class="music-published-date">
        <%= @support.album_tracks.first.year %></small>
      <h6 id="title" class="no_margin">
        <%= link_to @support.album_tracks.first.title, @support.album_tracks.first,
          class: "text-gray-600" %></h6>
      <small id="artist"><%= link_to @support.album_tracks.first.artist_name,
        @support.album_tracks.first.artist, class: "text-gray-600" %></small>
    </div>
  </div>

  <div class="audio_player offset-6 px-0">
    <%= rescue_audio @support.album_tracks.first.data, "w-full d-block",
      "audio_player" %>
    <%= hidden_field_tag :track_id, @support.album_tracks.first.id %>
    <%= hidden_field_tag :album_id, @support.album.id %>
  </div>

  <div class="row py-4 justify-content-center">
    <%= paginate @support.album_tracks %>
  </div>
</div>
