<div class="container"><br>
  <div class="row mx-0">
    <div class="col-md-6 px-0">
      <%= rescue_image @support.album.cover, "img-fluid" %>
    </div>

    <div class="album_info col-md-6 px-0">
      <div class="row mx-0 d-flex align-items-center">
        <div class="w-auto album_name_artist px-5 py-4">
          <h3><%= @support.album.name %></h3>
          <h4><%= @support.album.artist_name %></h4>
        </div>

        <div class="w-auto py-4 text-gray-600">
          <h6><%== t ".categories", categories: join_categories_with_link(@support
            .album.categories, "text-gray-600") %></h6>
          <h6><%= t ".release", year: @support.album.year %></h6>
        </div>
      </div>

      <%= render partial: "tracks/small_track", collection: @support.album_tracks,
        as: :track %>
    </div>
  </div>

  <div class="small_track_info offset-6 px-5 text-gray-600 mt-4" id="now_playing">
    <div class="album_thumbnail w_m_67">
      <%= rescue_image @support.album_tracks.first.cover %>
    </div>
    <div class="track_metadata">
      <small id="year" class="music-published-date">
        <%= @support.album_tracks.first.year %></small>
      <h6 id="title" class="no_margin">
        <%= @support.album_tracks.first.title %></h6>
      <small id="artist"><%= link_to @support.album_tracks.first.artist_name,
        "#", class: "text-gray-600" %></small>
    </div>
  </div>

  <div class="audio_player offset-6 px-0">
    <%= rescue_audio @support.album_tracks.first.data, "w-full d-block",
      "audio_player" %>
  </div>

  <div class="row py-4 justify-content-center">
    <%= paginate @support.album_tracks %>
  </div>
</div>
