<% provide :title, t(".sign_in") %>

<div class="container">
  <div class="rescue_container">
    <h2 class="col-md-4 offset-md-4 text-center"><%= t ".sign_in" %></h2><br />

    <%= form_for resource, as: resource_name, url: session_path(resource_name),
      class: "form-group" do |f| %>
      <div class="field form-group col-md-4 offset-md-4">
        <%= f.label :email %><br />
        <%= f.email_field :email, autofocus: true, class: "form-control" %>
      </div>

      <div class="field form-group col-md-4 offset-md-4">
        <%= f.label :password %>
        <span class="float-right">
          <%= link_to t("devise.shared.links.forgot_your_password"),
            new_password_path(resource_name) %><br />
        </span>
        <%= f.password_field :password, class: "form-control" %>
      </div>

      <% if devise_mapping.rememberable? %>
        <div class="field form-group col-md-8 offset-md-4">
          <%= link_to t("devise.shared.links.didn_t_receive_confirmation_instructions"),
            new_confirmation_path(resource_name) %><br />
          <%= f.check_box :remember_me %>
          <%= f.label :remember_me %>
        </div>
      <% end %>

      <div class="field form-group col-md-4 offset-md-4 text-center">
        <%= f.submit t(".sign_in"), class: "btn btn-primary" %>
      </div>
    <% end %>

    <%= render "devise/shared/omniauth" %>
  </div>
</div>
