<%= form_for [:admin, admin_category], as: :admin_category do |form| %>
  <% if admin_category.errors.any? %>
    <div class="col-md-5 px-0">
      <%= render "devise/shared/error_messages", resource: admin_category %>
    </div>
  <% end %>

  <div class="field form-group col-md-4 px-0">
    <%= form.label :name, t(".name") %>
    <%= form.text_field :name, class: "form-control", autofocus: true,
      autocomplete: "off" %>
  </div>

  <%= form.submit class: "btn btn-primary" %>
<% end %>
