<% provide :title, t(".categories") %>

<h3 class="my-4"><%= t ".categories" %></h3>

<table class="table table-hover">
  <thead>
    <tr>
      <th><%= t ".name" %></th>
      <th><%= t ".cover" %></th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @admin_categories.each do |category| %>
      <tr>
        <td class="w_20"><%= category.name %></td>
        <td class="w_20"><%= rescue_image category.cover, "img-fluid" %></td>
        <td class="w_5"><%= link_to t("admin.action.edit"), edit_admin_category_path(category),
          class: "card-link" %></td>
        <td><%= link_to t("admin.action.delete"), admin_category_path(category),
          method: :delete, data: {confirm: t("admin.action.confirm")},
          class: "card-link" %></td>
      </tr>
    <% end %>
  </tbody>
</table><br>

<%= paginate @admin_categories %>

<%= link_to t("admin.action.new"), new_admin_category_path, class: "card-link" %>
