<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark fixed-top h-56px">
  <div class="container">
    <%= link_to Settings.application.title, root_path, class: "navbar-brand" %>
    <div class="collapse navbar-collapse" id="navbar">
      <ul class="navbar-nav ml-auto">
        <li><%= link_to t(".categories"), categories_path, class: "nav-link" %></li>
        <li><%= link_to t(".artists"), artists_path, class: "nav-link" %></li>
        <% if user_signed_in? %>
          <li><%= link_to t(".favourites"), "#", class: "nav-link" %></li>
          <li class="nav-item dropdown">
            <%= link_to "#", id: "navbarDropdown", data: {toggle: "dropdown"},
              class: "nav-link dropdown-toggle" do %>
              <%= rescue_user_avatar current_user.avatar, "user_x_thumbnail" %>
            <% end %>
            <div class="dropdown-menu dropdown-menu-right">
              <% if current_user.admin? %>
                <%= link_to t(".admin_page"), admin_root_path,
                  class: "dropdown-item f-1rem" %>
              <% end %>
              <%= link_to t(".log_out"), destroy_user_session_path, method: :delete,
                class: "dropdown-item f-1rem" %>
            </div>
          </li>
        <% else %>
          <li id="navbarLogIn">
            <%= link_to t(".log_in"), new_user_session_path, class: "nav-link" %>
          </li>
          <li><%= link_to t(".sign_up"), new_user_registration_path,
            class: "nav-link btn btn-primary" %></li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>
