<!DOCTYPE html>
<html>
  <head>
    <title>
      <%= rescue_title Settings.application.admin_title, yield(:title) %>
    </title>
    <%= render "layouts/head" %>
  </head>

  <body id="page-top">
    <%= render "layouts/flash_messages" %>
    <%= yield %>
  </body>

  <%= render "layouts/i18n_js" %>
</html>
