<!DOCTYPE html>
<html>
  <head>
    <title>
      <%= rescue_title Settings.application.admin_title, yield(:title) %>
    </title>
    <%= render "layouts/head" %>
  </head>

  <body id="page-top">
    <%= render "layouts/flash_messages" %>

    <div id="wrapper">
      <%= render "admin/sidebar" %>

      <div id="content-wrapper" class="d-flex flex-column">
        <div id="content">
          <div class="container-fluid">
            <%= yield %>
          </div>
        </div>
      </div>
    </div>
  </body>

  <%= render "layouts/i18n_js" %>
</html>
